@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gfgog4');
  src:  url('../fonts/icomoon.eot?gfgog4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gfgog4') format('truetype'),
    url('../fonts/icomoon.woff?gfgog4') format('woff'),
    url('../fonts/icomoon.svg?gfgog4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-square:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-code:before {
  content: "\e902";
}
.icon-coffee:before {
  content: "\e903";
}
.icon-dollar-sign:before {
  content: "\e904";
}
.icon-edit-3:before {
  content: "\e905";
}
.icon-external-link:before {
  content: "\e906";
}
.icon-eye:before {
  content: "\e907";
}
.icon-lock:before {
  content: "\e908";
}
