/* VARIABLES */

:root {
  --font-general:
    "-apple-system",
    "BlinkMacSystemFont",
    "Segoe UI",
    "Roboto",
    "Helvetica",
    "Arial",
    "sans-serif",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;

  --size-font: 16px;
  --size-max-width: 960px;

  --color-bg-jumbotron-from: rgb(187, 52, 240);
  --color-bg-jumbotron-to: rgb(240, 52, 68);
  --color-bg-jumbotron-additional: rgb(241, 134, 46);

  --color-bg-page: #FAFAFA;
  --color-text-page: #333;
  --color-text-accent: white;
}

/* GENERAL + RESETTING */

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
button {
  font-family: var(--font-general);
}

html {
  font-size: var(--size-font);
  background-color: var(--color-bg-page);
  color: var(--color-text-page);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

.material-icons {
  font-size: inherit;
}

/* HELPERS */

.flex {
  display: flex;
  align-items: center;
}

.flex-space {
  justify-content: space-between;
}

.wrap {
  max-width: var(--size-max-width);
  padding: 0 1rem;
  margin: 0 auto;
}

.noselect,
.material-icons {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.section-intro {
  margin: 3rem 0 2rem;
}

.section-intro h2 {
  font-size: 2.5rem;
}

.section-intro p {
  color: #555;
}

/* PAGE */

.upper-section {
  background-color: var(--color-bg-jumbotron-to);
  background-image:
    radial-gradient(
      ellipse at top right,
      var(--color-bg-jumbotron-additional),
      transparent 50%
    ),
    linear-gradient(
      to top left,
      var(--color-bg-jumbotron-to),
      var(--color-bg-jumbotron-from)
    );
  color: var(--color-text-accent);
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

header {
  padding: .8rem 0;
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.07) inset,
    0 1px 0 rgba(255, 255, 255, 0.15);
}

header h1,
header nav > a:not(.important) {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

header img {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

header h1 {
  font-size: 1.2rem;
}

header nav {
  font-size: .85rem;
}

header nav > a {
  display: block;
  padding: .3em .6em .4em;
  border-radius: 3px;
  transition: background-color 0.2s, text-shadow 0.2s;
}

header nav > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

header nav > :not(:last-child) {
  margin-right: 1em;
}

.nav-important {
  box-shadow: 0 0 0 1px white inset;
}

.jumbotron {
  padding: 6rem 0;
}

.jumbotron img {
  border-radius: 7px;
  box-shadow:
    0 0 0 5px rgba(255, 255, 255, 0.2);
}

.jumbotron p {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.jumbotron a {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  padding: .2em .4em .25em .6em;
  border-radius: .2em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.jumbotron a:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.1);
}

.jumbotron a i {
  line-height: 0.5;
  margin-left: 10px;
}

.explain {
  margin: 3rem 0 5rem;
  text-align: center;
}

.explain h2 {
  display: inline-block;
  position: relative;
  top: 1.25rem;
  padding: 0 1rem;
  background: var(--color-bg-page);
  font-size: 2rem;
  font-weight: 300;
}

.explain p {
  padding: 1em 2em;
  margin: 0 auto;
  max-width: 760px;
  border: 1px dashed #CCC;
  border-radius: 30px;
  line-height: 1.8;
  font-size: 1.2em;
}

.explain strong {
  padding: 0 .3em;
  background: yellow;
  font-weight: normal;
}

.features-grid {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem 0 6rem;
}

.feature {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 0 2rem;
}

.feature-icon {
  grid-row: span 2;
  align-self: flex-start;
  padding: 1rem;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.feature-icon > div {
  font-size: 4rem;
  line-height: 0.5;
  background-image:
    radial-gradient(
      ellipse at top right,
      var(--color-bg-jumbotron-additional),
      transparent 50%
    ),
    linear-gradient(
      to bottom right,
      var(--color-bg-jumbotron-from),
      var(--color-bg-jumbotron-to)
    );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: .2rem;
  line-height: 1;
  text-align: center;
  height: 1em;
  width: 1em;
}

.feature-title h3 {
  font-size: 1.5rem;
}

.feature-description {
  font-size: .9rem;
  color: #555;
  max-width: 300px;
}

.night {
  --color-night-top: rgb(20, 34, 73);
  --color-night-bottom: rgb(6, 13, 31);
  --size-night-transition: 100px;

  position: relative;
  margin: 5rem 0;
  background-image:
    linear-gradient(
      to bottom,
      var(--color-night-top),
      var(--color-night-bottom)
    );
}

.night-inner {
  padding: 2rem 0;
  background: url('../img/aurora.png');
  background-position: top center;
  background-repeat: no-repeat;
}

.night .section-intro h2,
.night .section-intro p {
  color: white;
}

.night-img {
  width: 250px;
  height: 200px;
  border-radius: 3px;
  overflow: hidden;
  background-image: url('../img/night-mode.png');
  background-size: cover;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

.showcase {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  padding: 1.5rem;
  padding-right: 2rem;
  border-radius: .3rem;
  box-shadow: 0 .1rem 1.5rem rgba(0, 0, 0, 0.1);
}

.showcase img {
  flex: 0 0 auto;
  margin-right: 2rem;
  border-radius: 3px;
  max-height: 150px;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);
}

.showcase > :last-child {
  flex: 1 1 auto;
}

.showcase > :last-child > :not(:last-child) {
  margin-bottom: 1rem;
}

.showcase p {
  text-align: justify;
}

.showcase a {
  color: rgb(0, 138, 230);
}

.showcase span {
  text-decoration: underline;
}

.showcase i {
  font-size: .8em;
}

footer {
  justify-content: center;
  height: 20rem;
  padding-top: 10rem;

  background:
    linear-gradient(to top, transparent, var(--color-bg-page)),
    radial-gradient(circle, rgba(0,0,0,0.3), transparent 2px);
  background-size:
    auto,
    20px 20px;
}

.footer-inner {
  justify-content: center;
  padding: 0.8rem 1.2rem;
  background: var(--color-bg-page);
}

footer > :last-child {
  color: #999;
}

.footer-logo {
  background-image:
    url('../img/logo-transparent-black.svg');
  background-size: cover;
  background-repeat: none;
  height: 100px;
  width: 100px;
  margin-right: 1rem;
}

@media (max-width: 960px) {
  .header-inner,
  .jumbotron-inner,
  .night-inner,
  .showcase {
    flex-direction: column;
  }

  .header-inner .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header-inner > :not(:last-child) {
    margin-bottom: 1rem;
  }

  .jumbotron {
    padding: 3rem 0;
  }

  .jumbotron img {
    margin-top: 3rem;
    max-width: 100%;
    height: auto;
  }

  .explain p {
    padding: 2rem;
  }

  .features-grid {
    grid-template-columns: auto;
  }

  .showcase img {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.text-icon {
  font: inherit;
  speak: none;
}

.text-icon-git::after {
  content: '₲';
}

.text-icon-ai::after {
  content: '愛';
}
