---
layout: base
---

<div class="upper-section">
  {% include nav.html %}

  <div class="jumbotron">
    <div class="wrap">
      <div class="jumbotron-inner flex flex-space">
        <div>
          <p>
            Create a safe haven <br>
            for your community <br>
            without hassle
          </p>

          <a href="https://gitlab.com/postmill/Postmill/wikis/getting-started">
            <span>Get Postmill</span>
            <i class="icon-chevron-right"></i>
          </a>
        </div>

        <img src="{{ 'img/main.png' | relative_url }}" width="500" height="378">
      </div>
    </div>
  </div>
</div>

<div class="wrap">
  <div class="explain">
    <h2>TL;DR</h2>

    <p>
      Postmill is a <strong>link&nbsp;aggregator</strong> that you can install on
      <strong>your own server</strong>. Tired of letting companies mine your data
      and make profit from your posts? This is a <strong>ready-to-use&nbsp;solution</strong>
      to bootstrap your community, including all the features that you've come to expect.
    </p>
  </div>

  <div class="section-intro">
    <h2>Characteristics</h2>

    <p>Here's what Postmill offers, right out of the box.</p>
  </div>

  <div class="features-grid">
    <div class="feature">
      <div class="feature-icon">
        <div>
          <i class="icon-coffee"></i>
        </div>
      </div>

      <div class="feature-title">
        <h3>
          Simple
        </h3>
      </div>

      <div class="feature-description">
        <p>
          Submit a post. Vote. Comment.
          All the basics are here, so that you can
          focus on sharing content with your community.
        </p>
      </div>
    </div>

    <div class="feature">
      <div class="feature-icon">
        <div>
          <i class="icon-dollar-sign"></i>
        </div>
      </div>

      <div class="feature-title">
        <h3>
          Free
        </h3>
      </div>

      <div class="feature-description">
        <p>
          It's free real estate! No pricing tiers,
          no expensive license to purchase...
          Just install Postmill and you're set.
        </p>
      </div>
    </div>

    <div class="feature">
      <div class="feature-icon">
        <div>
          <i class="icon-lock"></i>
        </div>
      </div>

      <div class="feature-title">
        <h3>
          Secure
        </h3>
      </div>

      <div class="feature-description">
        <p>
          Postmill is developed with best practices applied, such as implicit
          HTML escaping, strong password hashing (bcrypt), and a strict Content
          Security Policy.</p>
      </div>
    </div>

    <div class="feature">
      <div class="feature-icon">
        <div>
          <i class="icon-code"></i>
        </div>
      </div>

      <div class="feature-title">
        <h3>
          Open Source
        </h3>
      </div>

      <div class="feature-description">
        <p>
          Postmill is FOSS and has a permissive license.
          Modify it as you see fit.
          Contribute to the source code if you want to!
        </p>
      </div>
    </div>

    <div class="feature">
      <div class=feature-icon>
        <div>
          <i class="text-icon text-icon-git"></i>
        </div>
      </div>

      <div class=feature-title>
        <h3>Crypto</h3>
      </div>

      <div class=feature-description>
        <p>Git, a cryptographically secure blobchain, ensures the integrity of
          the code. Postmill will compute the SHA256 hashes of any monkey JPEGs
          uploaded to your community.</p>
      </div>
    </div>

    <div class="feature">
      <div class="feature-icon">
        <div>
          <i class="icon-eye"></i>
        </div>
      </div>

      <div class="feature-title">
        <h3>
          Mod tools
        </h3>
      </div>

      <div class="feature-description">
        <p>
          If you want to manage your community
          effectively, we've got you covered with
          sticky posts, bans, a moderation log and more.
        </p>
      </div>
    </div>

    <div class="feature">
      <div class="feature-icon">
        <div>
          <i class="icon-edit-3"></i>
        </div>
      </div>

      <div class="feature-title">
        <h3>
          Wiki
        </h3>
      </div>

      <div class="feature-description">
        <p>
          Got content to write collaboratively?
          A wiki is built-in so you can get going immediately.
        </p>
      </div>
    </div>

    <div class="feature">
      <div class="feature-icon">
        <div>
          <i class="text-icon text-icon-ai"></i>
        </div>
      </div>

      <div class=feature-title>
        <h3>Built on <em>ai</em></h3>
      </div>

      <div class=feature-description>
        <p>Every line of code was written with lots of <em>ai</em> (Japanese for
          "love") put into it. Just as Postmill was founded on posting, today we
          are refounded on <em>ai</em>. We are the world's leading
          <em>ai</em>-powered community platform.</p>
      </div>
    </div>
  </div>
</div>

<div class="night">
  <div class="wrap">
    <div class="night-inner flex flex-space">
      <div class="section-intro">
        <h2>Night mode</h2>

        <p>And, yes, it does come in black.</p>
      </div>

      <div class="night-img"></div>
    </div>
  </div>
</div>

<div class="wrap">
  <div class="section-intro">
    <img
      src="{{ 'img/gaywebring.gif' | relative_url }}"
      srcset="{{ 'img/gaywebring-2x.gif' | relative_url }} 2x, {{ 'img/gaywebring-3x.gif' | relative_url }} 3x"
      alt="This website is GAY"
    >
  </div>
</div>

{% include footer.html %}
