<footer class="flex">
  <div class="flex footer-inner">
    <div class="footer-logo"></div>

    <div>
      <p>Postmill is an open-source project created by emma</p>

      <p>Coded with passion by her and all other contributors</p>
    </div>
  </div>
</footer>
