<header>
  <div class="wrap">
    <div class="header-inner flex flex-space">
      <div class="flex">
        <img src="{{ 'img/logo-transparent-white.svg' | relative_url }}">
        <h1>Postmill</h1>
      </div>

      <nav class="flex">
        <a href="https://gitlab.com/postmill/Postmill/wikis/home">
          Docs
        </a>
        <a href="https://codeberg.org/LItiGiousemMA/Postmill">
          Source code
        </a>
        <a href="https://riot.im/app/#/room/#postmill:matrix.org">
          Community
        </a>
        <a href="https://gitlab.com/postmill/Postmill/wikis/getting-started" class="nav-important">
          Get started
        </a>
      </nav>
    </div>
  </div>
</header>
