<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ 'img/postmill.png' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/font.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
  </head>
  <body>
    {{ content }}
  </body>
</html>
